:root {
  --main-color: #b3f12c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 1. header */
.heart-icon {
  height: 24px;
  margin-right: 3px;
}

.brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.brand-logged {
  margin-left: 5px;
  font-size: 20px;
}

.brand-new {
  margin-top: 20px;
}

.brand-text {
  color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  text-align: right;
  margin-right: 5px;
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: var(--main-color);
}

/* 2. home page */
.homepage {
  background-image: url("./assets/images/run.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
}

.home {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
  color: whitesmoke;
}

.home-title {
  font-weight: 900;
}

.home-text {
  margin: 10px auto 15px auto;
  font-size: 15px;
}

.home-btn,
.signup-btn {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--main-color);
  font-weight: 800;
}

/* 3. sign up and login page  */
.signup,
.exercise {
  height: 100vh;
}

.signup-form {
  width: 300px;
  margin: 20px 0 90px 0;
}

.signup-form label {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signup-form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  border-width: 1px;
}

.btn-div {
  margin: 18px auto;
}

.signup-btn {
  width: 300px;
  height: 46px;
}

.link-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.message {
  color: red;
}

/* history page  */
.title {
  margin: 30px auto 20px auto;
  font-weight: 900;
}

.title:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 35px; /* Change this to whatever width you want. */
  padding-top: 3px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid; /* This creates the border. Replace black with whatever color you want. */
}

.history-text {
  margin: 20px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.exercise-div {
  margin: 15px auto;
}

.date {
  min-width: 70px;
  margin-right: 16px;
  font-weight: bold;
}

.exercise-name {
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  transform: rotateY(15deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cardio-name {
  background-color: var(--main-color);
  color: black;
}

.resistance-name {
  background-color: lightskyblue;
  color: black;
}

.exercise-name:hover {
  transform: rotateY(0deg);
}
