:root {
  --main-color: #b3f12c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 1. header */
.heart-icon {
  height: 24px;
  margin-right: 3px;
}

.brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.brand-logged {
  margin-left: 5px;
}

.brand-new {
  margin-top: 20px;
}

.navbar-toggler-icon-home {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  text-align: right;
  margin-right: 5px;
  font-weight: 500;
}

.home-nav {
  color: whitesmoke;
}

.home-nav:hover {
  color: black;
}

/* 2. home page */
.homepage {
  background-image: url("./assets/images/run.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
}

.home {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
  color: whitesmoke;
}

.title {
  font-weight: 900;
}

.home-text {
  margin: 10px auto;
  font-size: 15px;
}

.home-btn {
  margin-top: 20px;
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--main-color);
  font-weight: 800;
}
